
header{
    background-color: black;
    color: white;
  
    text-align: center;
}
.nav-grid{
    display: grid;
   }
   .nav-grid{
    background-color: black;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    column-gap: .5rem;
    row-gap: 1rem;
    justify-content: center;
    height: 4rem;
    align-content: center;
}
.inav-grid{
    border: 3px solid #000;
    
    text-align: center;
}   
.nav{
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
   
}
.carousel-inner{
    height: 32rem;
}
.carousel-item{
    height: 32rem;
}
.nav a{
    display: inline;
}

.image-food{
    width: 1060px;
    height: auto;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    }
.igicon{
    width: 30px;
    height: 30px;
}
    