header{
    background-color: #1D1D1B;
    color: white;
    height: 15rem;
    text-align: center;
}

.nav{
    background-color: #1D1D1B;
    color:white;
    text-decoration: none;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
    text-align: left;
    
}
.nav1{
    text-align: center;
}

.carousel-item{
    width: 1060px;
    height: auto;
}
footer{
    background-color: #1D1D1B;
    color: white;
    text-align: center;
    }

.horarios{
    text-align: left;
}
.igicon{
    width: 30px;
    height: 30px;
}


.grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-columns: 300px 300px 300px;
}
.grid-item{
    margin: left;
}
#mapa{
    text-align: right;
}