
.logo{
    width: 2.5rem;
    height: 2.5rem;   
}
.grid-container {
    display: grid;
    grid-gap: 0rem;;
    padding: 0.3rem;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.igicon{
    width: 2rem;
    height: 2rem;
   
} 
#imgClima{
    width: 2rem;
}
#temperature{
    color:white;
}
.clima{
    margin-left:600px;
    margin-right:10px;
    color:white;
    align-self: start;
}
.carousel-inner { 
    width: 100%;
    height: 519px;
}

.carousel-inner img{
    min-height: 700px;
    min-width: 700px;
}
.grid-item{
    color: white;
}

@media screen and (max-width: 600px){
    .carousel-inner { 
        width: 100%;
        height: 32rem;
    }
    
    .carousel-inner img{
        min-height: 700px;
        min-width: 700px;
    }
}

@media screen and (max-width: 1300px){
    .clima{
        margin-left:300px;
        align-self: start;
        
    }
}    
@media screen and (max-width: 1000px){
    .clima{
        margin-left:100px;
        align-self: start;
        
    }
}    
@media screen and (max-width: 950px){
    .clima{
        margin-left:50px;
        align-self: start;
        
    }
}  
@media screen and (max-width: 767px){
    .clima{
        margin-left:0px;
        align-self: start;
        
    }
}  