header{
    background-color: #1D1D1B;
    color: white;
    height: 8rem;
    text-align: center;
    line-height:0;
}
.logo{
    width: 100px;
    height: 100px;
    text-align: left;
}

.nav{
    color:white;
    text-decoration: none;
}

.grid-container{
    background-color: #FCF2E4;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    /*column-gap: .5rem;
    row-gap: 1rem;
    justify-content: start;*/
    height: 15rem;
    
}

.grid-item1{
    border: 3px solid #ED751B;
    background-color: #1D1D1B;
    margin: 10px;
    color: #fff;
    text-align: center;
}  
footer{
    background-color: #1D1D1B;
    color: white;
    text-align: center;
    height: 8rem;
}
.grid-container2{
    background-color: #1D1D1B;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: .5rem;
    row-gap: 1rem;
    justify-content: start;
    
    
}
.grid-item{
    background-color: #1D1D1B;
    padding: 1rem;
}
#mapa{
    text-align: right;
}
.igicon{
    width: 30px;
    height: 30px;
   
} 
.grid-item1{
    background-color: #1D1D1B;
}
/*
@media screen  (max-width: 600px) {
    .grid-container {background-color: red;}
}
@media  screen  (min-width: 768px){
    .grid-container {background-color: blue;}
}
@media screen (min-width: 992px){
    .grid-container {background-color: yellow;}
}
*/
