/*header{
    background-color: #1D1D1B;
        height: 6rem;
    text-align: center;
}
.grid-nav1{
    display: grid;
}
.grid-nav1{
    background-color: #1D1D1B;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    height: 5rem;
     
       
}
.logo{
    width: 100px;
    height: 100px;
    text-align: left;
}

.nav{
    color:white;
    text-decoration: none;
}
*/
header{
    background-color: #1D1D1B;
        height: 6rem;
    text-align: center;
}
.grid-nav1{
    display: grid;
}
.grid-nav1{
    background-color: #1D1D1B;
    /*border: 1px solid;*/
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    height: 5rem;
     
       
}
/*.grid-item-logo{
   
    
    
}*/
.logo{
    width: 95px;
    height: 95px;
    
    
}
.grid-item-nav{
    border: 3px solid #1D1D1B;
    align-self: end; 
    
}
.nav{
    background-color: #1D1D1B;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}



.grid-container{
    background-color: #FCF2E4;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    /*column-gap: .5rem;
    row-gap: 1rem;
    justify-content: start;*/
    height: 15rem;
    padding: 1rem;
    
}

.grid-item1{
    border: 3px solid #ED751B;
    background-color: #1D1D1B;
    color: #fff;
    text-align: center;
}  
footer{
    background-color: #1D1D1B;
    color: white;
    text-align: center;
    height: 8rem;
}
.grid-container2{
    background-color: #1D1D1B;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: .5rem;
    row-gap: 1rem;
    justify-content: start;
    
    
}
.grid-item{
    background-color: #1D1D1B;
    padding: 1rem;
}


.igicon{
    width: 30px;
    height: 30px;
   
} 
.grid-item1{
    background-color: #1D1D1B;
}

