h2{
    font-family: 'Poppins', sans-serif;

}

#imgClima{
    width: 2rem;
}
#temperature{
    color:white;
}
.clima{
    margin-left:650px;
    color:white;
    align-self: center;
}
body{
    margin:0;
    padding:0;min-height: 100vh;
    position:relative;
    background-color:black;
}

.container-1{ 
    display:grid;
    grid-template: auto auto auto / auto auto;
    grid-template-areas: "titulo titulo"
                    "foto1 texto1"
                    "texto2 foto2";
    row-gap: 50px;
    column-gap: 70px;
    background-color: black;
}

.grid-item-0{
    padding-top:50px;
    grid-area: titulo;
    color:white;
    justify-self: center;
    font-size: 30px;
}

.grid-item-1{
    grid-area: foto1;
    justify-self: end;
    height: 90%;
}

.grid-item-2{
    color:white;
    height: 80%;
    align-self: center;
    grid-area: texto1;
    justify-self: center;
    width:80%;
    font-family: 'Poppins', sans-serif;
}

.grid-item-3{   
    color:white;
    height: 80%;
    align-self: center;
    justify-self: end;
    grid-area: texto2;
    width:80%;
    font-family: 'Poppins', sans-serif;
}

.grid-item-4{
    height: 80%;
    left:250px;
    grid-area: foto2;
}


.foto{  
    width: 500px;
    max-height: 500px;
    border-radius:5px;
}
.logo{
    width: 2.5rem;
    height: 2.5rem;  
}
.grid-container {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.igicon{
    width: 2rem;
    height: 2rem;

} 

.carousel-inner {   
    width: 100%;
    height: 50%;
}
.grid-item{
    color: white;
}

@media screen and (max-width: 720px) {
    .container-1{
        width:auto;
        grid-template-rows: auto ;
        grid-template-areas: "titulo"
                            "foto1"
                            "texto1"
                            "foto2" 
                            "texto2";
        row-gap: 10px;
        column-gap: 0px;
    }
.descripcion{ 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
    .foto{
        width: 300px;
        max-height: 300px;
    }
    .grid-item-0{
        justify-self: center;
    }

    .grid-item-1{
        align-self: start;
        justify-self: center;
    }

    .grid-item-2{
        height:auto;
        width:auto;
        align-self: center;
        justify-self: center;
    }

    .grid-item-3{   
        width:auto;
        align-self: center;
        justify-self: center;
    }

    .grid-item-4{
        height: auto;
        align-self: center;
        justify-self: center;
    }
}
@media screen and (max-width: 600px){
    
    .grid-container{
      background-color: black;
      display: grid;
      grid-template-columns: repeat(1, 90%);
      column-gap: .5rem;
      row-gap: 1rem;
      justify-content: start;
      padding: 1rem;
    } 
  }

@media screen and (max-width: 1300px){
    .clima{
        margin-left:300px;
        align-self: start;
        
    }
  }    
  @media screen and (max-width: 1000px){
    .clima{
        margin-left:100px;
        align-self: start;
        
    }
  }    
  @media screen and (max-width: 950px){
    .clima{
        margin-left:50px;
        align-self: start;
        
    }
  }  
  @media screen and (max-width: 767px){
    .clima{
        margin-left:0px;
        align-self: start;
        
    }
  }  